@mixin centered-items {
  display: flex;
  align-items: center;
}

.header {
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #7685da;
  text-align: center;

  .title {
    flex-grow: 1;
    font-size: 52px;
    color: aliceblue;
  }

  .addContaioner {
    @include centered-items;
    justify-content: center;
  }

  .inputWrapper {
    @include centered-items;
    width: 100%;
    max-width: 400px;
    margin-right: 5px;
    border: 2px solid #7685da;
    border-radius: 3px;
    position: relative;
    transition: all 0.35s ease-out;

    .input {
      padding: 8px;
      width: 100%;
      font-size: 18px;
    }

    .input::placeholder {
      color: #7685da;
    }
  }

  .inputWrapper:has(input:focus) {
    border: 2px solid #e26bec;
  }
}

.listBox {
  width: 100%;
  height: 600px;
  overflow: auto;

  .listItem {
    @include centered-items;
    justify-content: space-between;
    height: 55px;
    margin-bottom: 3px;
    padding-left: 20px;
    border: 1px solid rgb(48, 47, 47);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    font-size: 24px;
    color: #232946;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e1e8f3;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

    .text {
      flex-grow: 1;
    }

    .iconsBlock {
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
  }

  ul li:hover {
    box-shadow: inset 400px 100px 0 0 #e1e8f3;
  }
}
