@mixin centered-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  @include centered-flex;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #7685da;

  .title {
    text-align: center;
    flex-grow: 1;
    font-size: 52px;
    color: aliceblue;
  }

  .icon {
    margin-right: 10px;
  }
}

.listBox {
  width: 100%;
  height: 600px;
  overflow: auto;

  .listItem {
    @include centered-flex;
    height: 70px;
    margin-bottom: 3px;
    padding-left: 20px;
    border: 1px solid rgb(48, 47, 47);
    background-color: #323855;
    font-size: 33px;
    color: aliceblue;
    cursor: pointer;

    .text {
      flex-grow: 1;
    }

    .iconsBlock {
      display: flex;
      margin-right: 15px;
    }
  }
}
